.DS_Store
/pyspark/examples/checkpoints
/pyspark/examples/dest
/pyspark/examples/metastore_db/
/pyspark/examples/spark-warehouse/
/pyspark/examples/derby.log
/mapr/fax/
/logstash/dead_letter_queue/
/logstash/queue/
/logstash/.lock
/logstash/uuid